.home-container {
    max-width: 1050px; 
    margin: 0 auto;
    padding: 60px 20px;
    
}

.home-project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
    width: 100%;
}

.home-project-card {
    background-color: var(--card-bg);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: none; 
    margin: 0;
}

.home-project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.home-image-wrapper {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    border-top: 2px solid var(--accent-cyan);
    border-bottom: 2px solid var(--accent-cyan);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.home-project-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem; 
    flex-grow: 1;
}

.home-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.home-project-card:hover .home-preview {
    transform: scale(1.1);
}

.skills-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.02);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1100px;
}

.skill-badge {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(101, 226, 217, 0.05);
    border: 1px solid var(--accent-cyan);
    padding: 10px 22px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.skill-badge:hover {
    background: var(--accent-cyan);
    transform: translateY(-5px);
    color: black;
    box-shadow: 0 5px 15px rgba(101, 226, 217, 0.3);
}


/* Responsive */
@media (max-width: 1100px) {
    .home-project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .home-project-grid {
        grid-template-columns: 1fr;
    }
}