:root {
  --main-bg: #0f172a;
  --card-bg: #1e293b;
  --accent-cyan: #65e2d9;
  --accent-blue: #339ecf;
  --white: #ffffff;

  /* Font */

  --font-header: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}